name: bypassCF cron
on:
  schedule:
    # 每小时运行一次
    - cron: "0 * * * *"
  workflow_dispatch: # 允许手动触发
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20 # 设置作业超时时间为20分钟
    strategy:
      matrix:
        node-version: [20.x]
    env:
      # 在作业级别设置环境变量
      USERNAMES: ${{ secrets.USERNAMES }}
      PASSWORDS: ${{ secrets.PASSWORDS }}
      RUN_TIME_LIMIT_MINUTES: ${{ secrets.RUN_TIME_LIMIT_MINUTES }}
      TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
    steps:
      - uses: actions/checkout@v3 # 检出仓库
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: |
          npm install
          sudo apt install -y xvfb
      - name: Load environment variables
        run: |
          echo "Debug: Checking if .env file exists..."
          # 检查 .env 文件是否存在
          if [ -f .env ]; then
            echo ".env file found. Loading environment variables from .env file"
            
            # 加载 .env 文件中的默认值
            set -a
            source .env
            set +a
            
            echo "Loaded .env variables:"
          else
            echo ".env file not found. Skipping loading."
          fi
          if [ -n "${{ secrets.WEBSITE }}" ] && [ ! -z "${{ secrets.WEBSITE }}" ]; then
            echo "Using GitHub Secret for WEBSITE"
            echo "WEBSITE=${{ secrets.WEBSITE }}" >> $GITHUB_ENV
          else
            echo "WEBSITE=${WEBSITE}" >> $GITHUB_ENV
          fi
        shell: bash
      - name: Run a script
        run: node bypasscf.js --USERNAMES "$USERNAMES" --PASSWORDS "$PASSWORDS" --WEBSITE "$WEBSITE"
